<%= form_with(model: gakunenn, local: true) do |form| %>
  <% if gakunenn.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gakunenn.errors.count, "error") %> prohibited this gakunenn from being saved:</h2>

      <ul>
      <% gakunenn.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :年度 %>
    <%= form.number_field :nenndo, {id: :gakunenn_nenndo,class: "form-control"} %>
  </div>

  <div class="field">
    <%= form.label :学年 %>
    <%= form.number_field :gakunenn, {id: :gakunenn_gakunenn,class: "form-control"} %>
  </div>

  <div class="field">
    <%= form.label :組 %>
    <%= form.number_field :kumi, {id: :gakunenn_kumi,class: "form-control"} %>
  </div>

  <div class="field">
    <%= form.label :クラス人数 %>
    <%= form.number_field :ninnzuu, {id: :gakunenn_ninnzuu,class: "form-control"} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
