<p id="notice"><%= notice %></p>

<h1>Gakunenns</h1>

<table>
  <thead>
    <tr>
      <th>Gakunenn</th>
      <th>Kumi</th>
      <th>Ninnzuu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gakunenns.each do |gakunenn| %>
      <tr>
        <td><%= gakunenn.gakunenn %></td>
        <td><%= gakunenn.kumi %></td>
        <td><%= gakunenn.ninnzuu %></td>
        <td><%= link_to 'Show', gakunenn %></td>
        <td><%= link_to 'Edit', edit_gakunenn_path(gakunenn) %></td>
        <td><%= link_to 'Destroy', gakunenn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gakunenn', new_gakunenn_path %>
