<p id="notice"><%= notice %></p>

<h1>学年</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>年度</th>
      <th>学年</th>
      <th>組</th>
      <th>クラス人数</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gakunenns.each do |gakunenn| %>
      <tr>
     　 <td><%= gakunenn.nenndo %></td>
        <td><%= gakunenn.gakunenn %></td>
        <td><%= gakunenn.kumi %></td>
        <td><%= gakunenn.ninnzuu %></td>
        <td><%= link_to '参照', gakunenn %></td>
        <td><%= link_to '編集', edit_gakunenn_path(gakunenn) %></td>
        <td><%= link_to '削除', gakunenn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '学年追加', new_gakunenn_path,{class: "btn btn-default btn-sm btn-block"} %>
