<p id="notice"><%= notice %></p>

<p>
  <strong>Gakunenn:</strong>
  <%= @gakunenn.gakunenn %>
</p>

<p>
  <strong>Kumi:</strong>
  <%= @gakunenn.kumi %>
</p>

<p>
  <strong>Ninnzuu:</strong>
  <%= @gakunenn.ninnzuu %>
</p>

<%= link_to 'Edit', edit_gakunenn_path(@gakunenn) %> |
<%= link_to 'Back', gakunenns_path %>
