<p id="notice"><%= notice %></p>

<p>
<strong>年度:</strong>
<%= @gakunenn.nenndo %>
</p>

<p>
  <strong>学年:</strong>
  <%= @gakunenn.gakunenn %>
</p>

<p>
  <strong>組:</strong>
  <%= @gakunenn.kumi %>
</p>

<p>
  <strong>クラス人数:</strong>
  <%= @gakunenn.ninnzuu %>
</p>

<%= link_to '編集', edit_gakunenn_path(@gakunenn) %> |
<%= link_to '戻る', gakunenns_path %>
