<%= form_with(model: kennkoukiroku, local: true) do |form| %>
  <% if kennkoukiroku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kennkoukiroku.errors.count, "error") %> prohibited this kennkoukiroku from being saved:</h2>

      <ul>
      <% kennkoukiroku.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :日付 %>
    <%= form.date_select :hiduke, id: :kennkoukiroku_hiduke %>
  </div>

  <div class="field">
    <%= form.label :欠席 %>
    <%= form.check_box :kesseki, id: :kennkoukiroku_kesseki %>
  </div>

  <div class="field">
    <%= form.label :病欠 %>
    <%= form.select :byouketu_id, Byouketu.all.map { |b| [b.riyuu, b.id] },{include_blank: true},{class: "form-control" } %>
  </div>

  <div class="field">
    <%= form.label :事故欠 %>
    <%= form.text_field :zikoketu, {id: :kennkoukiroku_zikoketu,class: "form-control"} %>
  </div>

  <div class="field">
    <%= form.label :出席停止 %>
    <%= form.text_field :syuttei, {id: :kennkoukiroku_syuttei,class: "form-control"} %>
  </div>

  <div class="field">
    <%= form.label :遅刻 %>
    <%= form.select :tikoku_id, Tikoku.all.map { |t| [t.riyuu, t.id] },{include_blank: true},{class: "form-control" } %>
  </div>

  <div class="field">
    <%= form.label :忌引 %>
    <%= form.text_field :kibiki, {id: :kennkoukiroku_kibiki,class: "form-control"} %>
  </div>

  <div class="field">
    <%= form.label :学年 %>
    <%= form.select :gakunenn_id, Gakunenn.all.map { |g| [g.nenndo.to_s + "年度" + g.gakunenn.to_s + "年" + g.kumi.to_s + "組" ,g.id] },{}, {class: "form-control"} %>
  </div>

  <div class="field">
    <%= form.label :生徒 %>
    <%= form.select :seito_id, Seito.all.map { |s| [ s.banngou.to_s + s.simei, s.id] },{}, {class: "form-control"} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
