<%= form_with(model: kennkoukiroku, local: true) do |form| %>
  <% if kennkoukiroku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kennkoukiroku.errors.count, "error") %> prohibited this kennkoukiroku from being saved:</h2>

      <ul>
      <% kennkoukiroku.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2><td><%= @kennkoukiroku.hiduke %></td></h2>
  

  <% if kennkoukiroku.gakunenn_id.present? %>
<table>
  <tr>
  <h2><%= kennkoukiroku.seito.banngou %>　<%= kennkoukiroku.seito.simei %></h2>
  </tr>
  </table>
  <% else %>
  <td></td>
 <% end %>

  <%= form.radio_button :kesseki,false, {:checked => true} %> 出席
  <%= form.radio_button :kesseki,true %> 欠席

  <div class="field">
  <%= form.label :出席の人は体調を選んでください／欠席の人は欠席理由を選んでください %>
  <% Byouketu.all.each do |b| %>
    <%= form.radio_button :byouketu_id,b.id %><%= b.riyuu %>
    <% end %>
</div>
 <hr>
 <div class="field">
 <%= form.label :欠席の場合は以下の項目が該当する人のみ登録してください %>
 </div>
 
  <div class="field">
    <%= form.label :事故欠 %>
    <%= form.text_field :zikoketu, {id: :kennkoukiroku_zikoketu,class: "form-control"} %>
  </div>

  <div class="field">
    <%= form.label :出席停止 %>
    <%= form.text_field :syuttei, {id: :kennkoukiroku_syuttei,class: "form-control"} %>
  </div>

  <div class="field">
    <%= form.label :遅刻 %>
    <%= form.select :tikoku_id, Tikoku.all.map { |t| [t.riyuu, t.id] },{include_blank: true},{class: "form-control" } %>
  </div>

  <div class="field">
    <%= form.label :忌引 %>
    <%= form.text_field :kibiki, {id: :kennkoukiroku_kibiki,class: "form-control"} %>
  </div>
   <hr>
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
