<p id="notice"></p>

<h1>健康記録</h1>

<%= form_tag('/kennkoukirokus_search') do %>
  <p>
  学年
  <br>
  <%= select_tag 'kennkoukiroku_search[gakunenn]', options_for_select(Gakunenn.all.map { |g| [g.nenndo.to_s + "年度" + g.gakunenn.to_s + "年" + g.kumi.to_s + "組" ,g.id] },session[:kennkoukiroku_search_gakunenn]) %>
  <%= submit_tag '検索' %>
  </p>
<% end %>
<table class="table">
<tr>
     <td><%= link_to "前日", kennkoukirokus_path(select_date: @hiduke-1) %></td>
     <td align="center", style="font-size : 25px;"><%= @hiduke %><%= @youbi %></td>
     <td><%= link_to "今日に戻る", kennkoukirokus_path %></td>
     <td align="right"><%= link_to "翌日", kennkoukirokus_path(select_date: @hiduke+1) %></td>

</tr>

</table>
 

<table class="table table-striped">
  <thead>
    <tr>
      <th>日付</th>
      <th>学年</th>
      <th>組</th>
      <th>番号</th>
      <th>性別</th>
      <th>氏名</th>
      <th>出欠</th>
      <th>病欠</th>
      <th>事故欠</th>
      <th>出席停止</th>
      <th>遅刻</th>
      <th>忌引</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kennkoukirokus.each do |kennkoukiroku| %>
      <tr>
        <td><%= kennkoukiroku.hiduke %></td>
        <td><%= kennkoukiroku.gakunenn.gakunenn %></td>
        <td><%= kennkoukiroku.gakunenn.kumi %></td>
        <td><%= kennkoukiroku.seito.banngou %></td>
        <td><%= kennkoukiroku.seito.seibetu %></td>
        <td><%= kennkoukiroku.seito.simei %></td>
       <% if kennkoukiroku.kesseki == true %>
        <td><font color=red><%= "欠席" %></td>
        <% else %>
        <td><font color=blue><%= "出席" %></td>
      <% end %>
       <% if kennkoukiroku.byouketu_id.present? %>
        <td><%= kennkoukiroku.byouketu.riyuu %></td>
        <% else %>
        <td></td>
       <% end %>
        <td><%= kennkoukiroku.zikoketu %></td>
        <td><%= kennkoukiroku.syuttei %></td>
       <% if kennkoukiroku.tikoku_id.present? %>
        <td><%= kennkoukiroku.tikoku.riyuu %></td>
        <% else %>
        <td></td>
       <% end %>
        <td><%= kennkoukiroku.kibiki %></td>
        <td><%= link_to '参照', kennkoukiroku %></td>
        <td><%= link_to '編集', edit_kennkoukiroku_path(kennkoukiroku) %></td>
        <td><%= link_to '削除', kennkoukiroku, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><b>コメント</b></p>
<%= form_tag('/comments') do %>
  <%= hidden_field :comment, :hiduke, :value =>  @hiduke %>
  <%= hidden_field :comment, :gakunenn_id, :value => session[:kennkoukiroku_search_gakunenn] %>
  <p>
  <%= text_area :comment, :comment, :size => "40x10" %>
  <%= submit_tag "コメント追加" %>
  </p>
  <% end %>

  <% @comments.each do |c| %>
  <p>
  <%= c.created_at %>
  <br>
  <%= c.comment %>
  </p>
<% end %>



