<p id="notice"><%= notice %></p>

<p>
  <strong>日付:</strong>
  <%= @kennkoukiroku.hiduke %>
</p>

<p>
  <strong>欠席:</strong>
  <%= @kennkoukiroku.kesseki %>
</p>

<p>
  <strong>病欠:</strong>
  <%= @kennkoukiroku.byouketu_id %>
</p>

<p>
  <strong>事故欠:</strong>
  <%= @kennkoukiroku.zikoketu %>
</p>

<p>
  <strong>出席停止:</strong>
  <%= @kennkoukiroku.syuttei %>
</p>

<p>
  <strong>遅刻:</strong>
  <%= @kennkoukiroku.tikoku_id %>
</p>

<p>
  <strong>忌引:</strong>
  <%= @kennkoukiroku.kibiki %>
</p>

<p>
  <strong>学年:</strong>
  <%= @kennkoukiroku.gakunenn_id %>
</p>

<p>
  <strong>生徒:</strong>
  <%= @kennkoukiroku.seito_id %>
</p>

<%= link_to '編集', edit_kennkoukiroku_path(@kennkoukiroku) %> |
<%= link_to '戻る', kennkoukirokus_path %>
