<p id="notice"><%= notice %></p>

<p>
  <strong>Hiduke:</strong>
  <%= @kennkoukiroku.hiduke %>
</p>

<p>
  <strong>Kesseki:</strong>
  <%= @kennkoukiroku.kesseki %>
</p>

<p>
  <strong>Byouketu:</strong>
  <%= @kennkoukiroku.byouketu_id %>
</p>

<p>
  <strong>Zikoketu:</strong>
  <%= @kennkoukiroku.zikoketu %>
</p>

<p>
  <strong>Syuttei:</strong>
  <%= @kennkoukiroku.syuttei %>
</p>

<p>
  <strong>Tikoku:</strong>
  <%= @kennkoukiroku.tikoku_id %>
</p>

<p>
  <strong>Kibiki:</strong>
  <%= @kennkoukiroku.kibiki %>
</p>

<p>
  <strong>Gakunenn:</strong>
  <%= @kennkoukiroku.gakunenn_id %>
</p>

<p>
  <strong>Seito:</strong>
  <%= @kennkoukiroku.seito_id %>
</p>

<%= link_to 'Edit', edit_kennkoukiroku_path(@kennkoukiroku) %> |
<%= link_to 'Back', kennkoukirokus_path %>
