<table>
  <% if @k >= 1 %>
  <h2> 今日の欠席人数は<font color=red><%= @k %>人</font>です</h2>
  <% else %>
  <h2>今日の欠席人数は<font color=blue><%= @k %>人</font>です</h2>
  <% end %>
</table>

<table class="table table-bordered">
<tr>
<% Byouketu.all.each do |b| %>
<td align="center"><b><%=  b.riyuu %></b></td>
<% end %>
</tr>


<tbody>
<tr>
<% @b.each do |b| %>
<td align="center"><%= @ninzu[b.id] %></td>
<% end %>
</tr>

<tr>
<% @b.each do |b| %>
<td align="center">
<% if @ninzu[b.id] == 0 %>
   <%= image_tag "genkitomei.gif", :size => "35x35" %>
<% end %>
<% if @ninzu[b.id] >= 1 && @ninzu[b.id] <= 9 %>
   <%= image_tag "fututomei.gif", :size => "35x35" %>
<% end %>
<% if @ninzu[b.id] >= 10 %>
   <%= image_tag "byoukitomei.gif", :size => "40x40" %>
<% end %>
</td>
<% end %>

</tr>
</tbody>
</table>

<% case session[:userkengen] %>
<% when 1 %>
<%= link_to '生徒一覧', seitos_path,{class: "btn btn-default btn-sm btn-block"} %>
<%= link_to '学年', gakunenns_path,{class: "btn btn-default btn-sm btn-block"} %>   
<%= link_to '健康記録一覧', kennkoukirokus_path,{class: "btn btn-default btn-sm btn-block"} %>
<%= link_to '病欠理由', byouketus_path,{class: "btn btn-default btn-sm btn-block"} %>
<%= link_to '遅刻理由', tikokus_path,{class: "btn btn-default btn-sm btn-block"} %>
<%= link_to 'コメント一覧', comments_path,{class: "btn btn-default btn-sm btn-block"} %>
<%= link_to '健康記録作成', new_kennkoukiroku_makerecord_path,{class: "btn btn-default btn-sm btn-block"} %>
<%= link_to '利用者一覧', users_path,{class: "btn btn-default btn-sm btn-block"} %>
<%= link_to 'カウンセリングスケジュール',kaunsering_schedules_path,{class: "btn btn-default btn-sm btn-block"} %>
<%= link_to 'カウンセリング予約',kaunseringu_yoyakus_path,{class: "btn btn-default btn-sm btn-block"} %>

 <% when 2 %>
 <%= link_to '健康記録一覧', kennkoukirokus_path,{class: "btn btn-default btn-sm btn-block"} %>
 <%= link_to 'コメント一覧', comments_path,{class: "btn btn-default btn-sm btn-block"} %>
 
 <% when 3 %>
 <%= link_to '健康記録一覧', kennkoukirokus_path,{class: "btn btn-default btn-sm btn-block"} %>  
 <%= link_to 'コメント一覧', comments_path,{class: "btn btn-default btn-sm btn-block"} %>
 <%= link_to 'カウンセリングスケジュール',kaunsering_schedules_path,{class: "btn btn-default btn-sm btn-block"} %>
 <%= link_to 'カウンセリング予約',kaunseringu_yoyakus_path,{class: "btn btn-default btn-sm btn-block"} %>
 
 <% end %>   