<p id="notice"><%= notice %></p>

<p>
  <strong>Seito:</strong>
  <%= @hokensitu_usesheet.seito_id %>
</p>

<p>
  <strong>Raishitu time:</strong>
  <%= @hokensitu_usesheet.raishitu_time %>
</p>

<p>
  <strong>Bukatu flg:</strong>
  <%= @hokensitu_usesheet.bukatu_flg %>
</p>

<p>
  <strong>Bukatu:</strong>
  <%= @hokensitu_usesheet.bukatu %>
</p>

<p>
  <strong>Kyoka:</strong>
  <%= @hokensitu_usesheet.kyoka %>
</p>

<p>
  <strong>Kyokatannin:</strong>
  <%= @hokensitu_usesheet.kyokatannin %>
</p>

<p>
  <strong>Naika riyuu sonota:</strong>
  <%= @hokensitu_usesheet.naika_riyuu_sonota %>
</p>

<p>
  <strong>Geka riyuu sonota:</strong>
  <%= @hokensitu_usesheet.geka_riyuu_sonota %>
</p>

<p>
  <strong>Geka detail bui:</strong>
  <%= @hokensitu_usesheet.geka_detail_bui %>
</p>

<p>
  <strong>Geka detail time:</strong>
  <%= @hokensitu_usesheet.geka_detail_time %>
</p>

<p>
  <strong>Geka detail place:</strong>
  <%= @hokensitu_usesheet.geka_detail_place %>
</p>

<p>
  <strong>Geka detail:</strong>
  <%= @hokensitu_usesheet.geka_detail %>
</p>

<p>
  <strong>Bad start:</strong>
  <%= @hokensitu_usesheet.bad_start %>
</p>

<p>
  <strong>Bad jigen:</strong>
  <%= @hokensitu_usesheet.bad_jigen %>
</p>

<p>
  <strong>Taion:</strong>
  <%= @hokensitu_usesheet.taion %>
</p>

<p>
  <strong>Myakuhaku:</strong>
  <%= @hokensitu_usesheet.myakuhaku %>
</p>

<p>
  <strong>Ketuatu:</strong>
  <%= @hokensitu_usesheet.ketuatu %>
</p>

<p>
  <strong>Howdo sonota:</strong>
  <%= @hokensitu_usesheet.howdo_sonota %>
</p>

<p>
  <strong>Sleep:</strong>
  <%= @hokensitu_usesheet.sleep %>
</p>

<p>
  <strong>Wakeup:</strong>
  <%= @hokensitu_usesheet.wakeup %>
</p>

<p>
  <strong>Good sleep:</strong>
  <%= @hokensitu_usesheet.good_sleep %>
</p>

<p>
  <strong>Breakfast:</strong>
  <%= @hokensitu_usesheet.breakfast %>
</p>

<p>
  <strong>Defecation:</strong>
  <%= @hokensitu_usesheet.defecation %>
</p>

<p>
  <strong>Worry:</strong>
  <%= @hokensitu_usesheet.worry %>
</p>

<p>
  <strong>Worry sonota:</strong>
  <%= @hokensitu_usesheet.worry_sonota %>
</p>

<p>
  <strong>Go class:</strong>
  <%= @hokensitu_usesheet.go_class %>
</p>

<p>
  <strong>Go rest from:</strong>
  <%= @hokensitu_usesheet.go_rest_from %>
</p>

<p>
  <strong>Go rest to:</strong>
  <%= @hokensitu_usesheet.go_rest_to %>
</p>

<p>
  <strong>Go rest jigen from:</strong>
  <%= @hokensitu_usesheet.go_rest_jigen_from %>
</p>

<p>
  <strong>Go rest jigen to:</strong>
  <%= @hokensitu_usesheet.go_rest_jigen_to %>
</p>

<p>
  <strong>Go home:</strong>
  <%= @hokensitu_usesheet.go_home %>
</p>

<p>
  <strong>Go home tel:</strong>
  <%= @hokensitu_usesheet.go_home_tel %>
</p>

<p>
  <strong>Go hospital:</strong>
  <%= @hokensitu_usesheet.go_hospital %>
</p>

<p>
  <strong>Go hospital name:</strong>
  <%= @hokensitu_usesheet.go_hospital_name %>
</p>

<p>
  <strong>Go consultation:</strong>
  <%= @hokensitu_usesheet.go_consultation %>
</p>

<p>
  <strong>Go sonota:</strong>
  <%= @hokensitu_usesheet.go_sonota %>
</p>

<%= link_to '編集', edit_hokensitu_usesheet_path(@hokensitu_usesheet) %> |
<%= link_to '戻る', hokensitu_usesheets_path %>
