<%= form_with(model: seito, local: true) do |form| %>
  <% if seito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seito.errors.count, "error") %> prohibited this seito from being saved:</h2>

      <ul>
      <% seito.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :gakunenn_id %>
    <%= form.number_field :gakunenn_id, id: :seito_gakunenn_id %>
  </div>

  <div class="field">
    <%= form.label :banngou %>
    <%= form.number_field :banngou, id: :seito_banngou %>
  </div>

  <div class="field">
    <%= form.label :seibetu %>
    <%= form.text_field :seibetu, id: :seito_seibetu %>
  </div>

  <div class="field">
    <%= form.label :simei %>
    <%= form.text_field :simei, id: :seito_simei %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
