<%= form_with(model: seito, local: true) do |form| %>
  <% if seito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seito.errors.count, "error") %> prohibited this seito from being saved:</h2>

      <ul>
      <% seito.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :'学年' %>
    <%=  form.select :gakunenn_id, Gakunenn.all.map {|g| [g.nenndo.to_s + "年度" +  g.gakunenn.to_s + "年" + g.kumi.to_s + "組",g.id] },{}, {class: "form-control"} %>
  </div>

  <div class="field">
    <%= form.label :'番号' %>
    <%= form.number_field :banngou, {id: :seito_banngou,class: "form-control"} %>
  </div>

  <div class="field">
    <%= form.label :'性別' %>
    <%= form.select :seibetu, [["男", "男"], ["女", "女"]],{}, {class: "form-control"} %>
  </div>

  <div class="field">
    <%= form.label :'氏名' %>
    <%= form.text_field :simei, {id: :seito_simei,class: "form-control"} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
