<p id="notice"><%= notice %></p>

<p>
  <strong>学年:</strong>
  <%= @seito.gakunenn.nenndo.to_s + "年度" + @seito.gakunenn.gakunenn.to_s + "年" + @seito.gakunenn.kumi.to_s + "組"  %>
</p>

<p>
  <strong>番号:</strong>
  <%= @seito.banngou %>
</p>

<p>
  <strong>性別:</strong>
  <%= @seito.seibetu %>
</p>

<p>
  <strong>氏名:</strong>
  <%= @seito.simei %>
</p>

<%= link_to '編集', edit_seito_path(@seito) %> |
<%= link_to '戻る', seitos_path,{class: "btn btn-default btn-sm btn-block"} %>
