<%= form_with(model: byouketu, local: true) do |form| %>
  <% if byouketu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(byouketu.errors.count, "error") %> prohibited this byouketu from being saved:</h2>

      <ul>
      <% byouketu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :病欠理由 %>
    <%= form.text_field :riyuu, {id: :byouketu_riyuu, class: "form-control", :placeholder => "病欠理由を入力"} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>