<p id="notice"><%= notice %></p>

<h1>病欠理由</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>理由名称</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @byouketus.each do |byouketu| %>
      <tr>
        <td><%= byouketu.riyuu %></td>
        <td><%= link_to '参照', byouketu %></td>
        <td><%= link_to '編集', edit_byouketu_path(byouketu) %></td>
        <td><%= link_to '削除', byouketu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '病欠理由追加', new_byouketu_path,{class: "btn btn-default btn-sm btn-block"} %>
