<p id="notice"><%= notice %></p>

<h1>カウンセリング予約</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>カウンセリングスケジュール</th>
      <th>生徒</th>
      <th>メモ</th>
      <th>結果</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kaunseringu_yoyakus.each do |kaunseringu_yoyaku| %>
      <tr>
        <td><%= kaunseringu_yoyaku.kaunsering_schedule.yoyakuzikan%></td>
        <td><%= kaunseringu_yoyaku.seito.simei %></td>
        <td><%= kaunseringu_yoyaku.memo %></td>
        <td><%= kaunseringu_yoyaku.result %></td>
        <td><%= link_to '参照', kaunseringu_yoyaku %></td>
        <td><%= link_to '編集', edit_kaunseringu_yoyaku_path(kaunseringu_yoyaku) %></td>
        <td><%= link_to '削除', kaunseringu_yoyaku, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'カウンセリング予約追加', new_kaunseringu_yoyaku_path,{class: "btn btn-default btn-sm btn-block"} %>
