<p id="notice"><%= notice %></p>

<h1>Tikokus</h1>

<table>
  <thead>
    <tr>
      <th>Riyuu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tikokus.each do |tikoku| %>
      <tr>
        <td><%= tikoku.riyuu %></td>
        <td><%= link_to 'Show', tikoku %></td>
        <td><%= link_to 'Edit', edit_tikoku_path(tikoku) %></td>
        <td><%= link_to 'Destroy', tikoku, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tikoku', new_tikoku_path %>
